
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        {# Logo et lien Accueil #}
        <a class="navbar-brand" href="{{ path('app_atelier_index') }}">
            <i class="bi-house"></i> Accueil
        </a>

        {# Bouton pour les écrans mobiles #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Contenu de la navbar #}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {# Bouton "Nouveau" #}
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-light me-2" href="{{ path('app_atelier_new') }}">
                        <i class="bi-plus-circle"></i> Nouveau
                    </a>
                </li>

                {# Section utilisateur connecté #}
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person-circle"></i> {{ app.user.username }} {# Affiche le nom de l'utilisateur #}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                    <i class="bi-box-arrow-right"></i> Se déconnecter
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    {# Bouton "Se connecter" si l'utilisateur n'est pas connecté #}
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="{{ path('app_login') }}">
                            <i class="bi-box-arrow-in-right"></i> Se connecter
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>