{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Creer un nouveau compte</h1>

    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_end(form) }}

    <p>Vous avez deja un compte? <a href="{{ path('app_login') }}">Connetez-vous!</a></p>
{% endblock %}